<h1>Location Profile</h1>

<h4>City: <%= @location.city %></h4>
<h4>Country: <%= @location.country %></h4>
<h4>Main Attraction: <%= @location.main_attraction %>

<h4><%= link_to "Book a Trip", new_trip_path %></h4>



